@charset "UTF-8";

body, div, ul, li, a, p{
	margin:0px;
	padding: 0px;
}

#wrapper{
	width:100%;
	height:100%;

}
audio {
    filter: sepia(0.20) saturate(3) grayscale(0) contrast(100%) invert(0%);
    width: 150px;
}
audio::-webkit-media-controls-timeline{
        display: none !important;
    }
audio::-webkit-media-controls-play-button{
	color:#DAD773;
}
#music{
    float: right;
	margin: 5px;
}
#header{
	width: 100%;
	height: 600px;
	line-height:600px;
	background: #F4EEC0;  
}
#header .title a p{
	font-size: 50px;
	text-align: center;
	color: #B1AD25;
	font-family: 'Fredoka One', cursive;	
}
#content{
	width: 100%;
	min-height: 50vh;
	background: #F4EEC0;
}
 
#footer{
	width:100%;
	height: 30px;
	bottom:0;
	position:relative;
	text-align:center;
	color:#E7F0D2;
	background: #83B271;
}
#footer p{
	font-size: 15px;
	font-family: 'Fredoka One', cursive;
	line-height:30px;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}

#topMenu{
	background: #F4EEC0;
	width: 100%;
	height: 60px;
}
#topMenu ul{
	width: 80%; 
	margin: 0 auto;
}
#topMenu .main li{
	float :left;
	width: 18%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	background: #DAD773;
	border-radius:20px;
	margin: 1px;
	position:relative;
}
#topMenu .main li:hover .sub{
	display: block;
}
#topMenu .main li a{
	display: block;
	color:#064420;
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
}
#topMenu .main li a:hover{
	background: khaki;
	color:ivory;
	border-radius:20px;	
	transition : .5s ease-in-out; /*애니메이션효과*/
	transform : translateY (-20px);
}
#topMenu .main .sub{
	position: absolute;	
	width: 100%;	/*2단메뉴가로==1단메뉴가로*/
	display: none; /*2단 메뉴를 숨긴다*/
}
#topMenu .main .sub li{
	display:block;
	width: 100%;	/*2단메뉴가로==1단메뉴가로*/
	background: #F0EEB1;
}
#topMenu .main .sub li a:hover{
	background: #F9F7CF;
	color:#C3BA85;
	visibility: visible;/*마우스 오버시 2단메뉴를 보여준다*/
}

/*Font import*/
@import url("css/yk_homepage.css");
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
/*font-family: 'Merienda One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
/*font-family: 'Capriola', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Yusei+Magic&display=swap');
/*font-family: 'Kiwi Maru', serif;
 font-family: 'Yusei Magic', sans-serif;*/
 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
 /*font-family: 'Fredoka One', cursive;*/